* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  /* height: 100%; */
  width: 100%;
}

.is-current {
  padding-bottom: 3px;
  border-bottom: 3px solid #4675fe;
}

@media only screen and (max-width: 40rem) {
  #hamburger {
    display: block;
  }

  #navitems {
    display: none;
  }
}

.open {
  transform: translateY(0);
}
